body{
  display: flex;
  flex-basis: 600px;
  justify-content: center;
  background-color: rgb(50, 50, 50);
}

.App {
  text-align: center;
  display:flex;
  justify-content: center;
  background-color: black;
}

header{
  flex:1;
  margin: 0px auto;
  font-weight: bold;
  color:blue;
  background-color:black;
}

.App-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-color: black;
}

@media only screen and (max-width: 600px) {
  .App-header{
    flex:1;
    min-height: 600px;
    padding: 0px;
    margin: 0px;
  }
}

.head-container{
  background-color: rgb(149, 229, 250);
  width: 600px;
  color:black;
  border-radius:50px rgb(169, 169, 224) solid;
  display:flex;
}
.head-container p{
  margin: auto;
  padding: 50px;
}

.main-container{
  flex:4;
  display:flex;
  flex-direction: column;
  width: 100%;  
}

.main-container button{
  width: 100%;
  padding: 20px 20px;
  font-weight: bold;
  font-size: large;
  border:5px rgb(54, 53, 53) solid;
  border-radius:0px 0px 10px 10px;
}

.main-container button:hover{
  color:white;
}

.footer{
  flex:1;
  width: 600px;
  display: flex;
  flex-direction: column;
  background-color: rgb(149, 229, 250);
}

.red{
  background-color: rgb(250, 0, 150);
  color:beige;
}

.green{
  background-color:rgb(60, 190, 112);
  color:beige;
}

.background{
  background-color:blue;
  color:rgb(218, 208, 208);
}

.button{
  flex:1;
  background-color:darkblue;
  color: aliceblue;
  font-weight: bold;
  font-size:large;
}
.texto{
  flex:4;
  color:blue;
}