header{
  width: 40%;
  min-height: 650px;
  margin: 0px auto;
  font-weight: bold;
  color:blue;
  background-color: rgb(167, 157, 157);
}

.App {
  text-align: center;
}


@media only screen and (max-width: 600px) {
  .App-header{
    width: 100%;
    min-height: 600px;
    background-color:red;
    padding: 0px;
    margin: 0px;
  }
  .App-header,.head-container,.main-container,.footer{
    width: 100%;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.head-container{
  background-color: aqua;
  flex:1;
  color:black;
  border:2px black solid;
}
.head-container p{
  padding: 20px;
}

.main-container{
  display:flex;
  flex-direction: column;
  width: 100%;
  border-radius:10px black solid;
  flex:4;
}

.main-container button{
  width: 100%;
  padding: 20px 20px;
  font-weight: bold;
  border:2px black solid;
}

.red{
  background-color: red;
  color:beige;
}

.green{
  background-color:rgb(13, 122, 13);
  color:beige;
}

.background{
  background-color:yellow;
}

.footer{
  flex:1;
  display: flex;
  flex-direction: column;
  background-color: aquamarine;
}
.button{
  flex:1;
  background-color: blue;
  color: aliceblue;
  font-weight: bold;
}
.texto{
  flex:4;
  color:blue;
}