header{
  width: 70%;
  margin: 0px auto;
  font-weight: bold;
  color:blue;
  background-color: rgb(167, 157, 157);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.head-container{
  background-color: aqua;
  width: 60%;
  color:black;
  border:2px black solid;
}
.head-container p{
  padding: 20px;
}

.main-container{
  display:block;
  width: 60%;
  border-radius:10px black solid;
}

.main-container button{
  display:block;
  width: 100%;
  padding: 20px 20px;
  font-weight: bold;
  border:2px black solid;
}

.red{
  background-color: red;
  color:beige;
}

.green{
  background-color:rgb(13, 122, 13);
  color:beige;
}

.background{
  background-color:yellow;
}

.footer{
  display: flex;
  flex-direction: column;
  background-color: aquamarine;
  flex-basis: 100%;
}
.button{
  flex:1;
  background-color: blue;
  color: aliceblue;
  font-weight: bold;
}
.texto{
  flex:4;
  color:blue;
}